* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* shared styles */
.container {
    max-width: 1600px;
    margin: 0 auto;
}

.btn {
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}


/* main styles */

/* navbar */
.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
}

.nav-items {
    display: flex;
    gap: 32px;
}

.nav-items .item {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

/* banner */
#banner {
    min-height: 670px;
    background-image: url('/assets/hero-bg.png');
    background-position: center;
    background-size: cover;

}
.banner-content {
   text-align: center;
   padding: 70px 120px 134px 70px;
}

.early-access-badge {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
    border-radius: 1000px;
    background: #FFFFFF;
    margin-top: 35px;
    margin-bottom: 16px;
}

.status-dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #9FC6AE;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-dot::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #469165;
}

.status-text {
    font-size: 16px;
    font-weight: 500;
    color: #469165;
}

.banner-title {
    font-size: 72px;
    font-weight: 700;
    text-transform: capitalize;
    color: #FFFFFF;
    line-height: 84px;
    text-align: center;
}

.green-heading {
    color: #30B868;
}

.banner-text {
    max-width: 650px;
    text-align: center;
    margin: 16px auto 32px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
}

.banner-buttons {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.build-vault-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}

.how-it-works-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background: transparent;
}

/* note's problem section */
#notes-problems {
    margin: 0 auto;
}

.notes-problems-tagline {
    margin-top: 50px;
    text-align: center;
}

.notes-problems-heading {
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
    color: #001931;
    margin-bottom: 16px;
}

.notes-problems-subtitle, 
.card p, 
.structure-text p, 
.cta-text, 
.bottom-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #627382;
}

.notes-problems-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin: 44px 120px;
}

.card {
    text-align: center;
    padding: 24px 24px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}

.card img {
    background-color: #F95555;
    border-radius: 50%;
    padding: 10px;
    margin-top: 69px;
    margin-bottom: 16px;
}

.card h3 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}

.card p {
    margin-bottom: 21px;
}

/* structured by design section */
#structured-by-design {
    padding: 120px 120px;
    background-color: #FFFFFF;
    /* align-items: center; */
}

.structure-content-container {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    gap: 60px;
}

.structure-content-container img {
    border-radius: 12px;
}

.structure-text {
    text-align: left;
}

.structure-text h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #469165;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.structure-text h2 {
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    text-transform: capitalize;
}

.structure-text p {
    max-width: 500px;
    margin: 16px auto 32px;
}

.items {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 16px;
}

#cta-section {
    padding: 120px;
    background-color: #FFFFFF;
}

.cta-content {
    padding: 80px 40px;
    border-radius: 12px;
    background-color: #F7F6F2;
    text-align: center;
}

.cta-header {
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}

.cta-text {
    max-width: 600px;
    margin: 16px auto 32px;
}

.cta-bottom-texts {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
}
