* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* shared styles */
.container {
    max-width: 1600px;
    margin: 0 auto;
}

.btn {
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}


/* main styles */

/* navbar */
.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
}

.nav-items {
    display: flex;
    gap: 32px;
}

.nav-items .item {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}