* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* shared styles */
.container {
    max-width: 1600px;
    margin: 0 auto;
}

.btn {
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
}

.btn:hover {
    background-color: #195030;
    transform: translateY(-2px);
    transition: all 0.2s ease;
}

.notes-problems-subtitle, 
.card p, 
.structure-text p, 
.cta-text, 
.bottom-text, 
.copyright p {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #627382;
}

/* main styles */

/* navbar */
.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-items .item {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.item a {
    text-decoration: none;
    color: inherit;
}

/* banner */
#banner {
    min-height: 670px;
    background-image: url('/assets/hero-bg.png');
    background-position: center;
    background-size: cover;

}
.banner-content {
   text-align: center;
   padding: 70px 120px 134px 70px;
}

.early-access-badge {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
    border-radius: 1000px;
    background: #FFFFFF;
    margin-top: 35px;
    margin-bottom: 16px;
}

.status-dot {
    display: flex;
    align-items: center;
}

.status-text {
    font-size: 16px;
    font-weight: 500;
    color: #469165;
}

.banner-title {
    max-width: 770px;
    margin: 0 auto;
    font-size: 72px;
    font-weight: 700;
    text-transform: capitalize;
    color: #FFFFFF;
    line-height: 84px;
    text-align: center;
}

.green-heading {
    color: #30B868;
}

.banner-text {
    max-width: 650px;
    text-align: center;
    margin: 16px auto 32px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
}

.banner-buttons {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.build-vault-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
}

.build-vault-btn:hover {
    background-color: #195030;
    transform: translateY(-2px);
    transition: all 0.2s ease;
}

.how-it-works-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background: transparent;
    cursor: pointer;
}

.how-it-works-btn:hover {
    background-color: #0b0b0b3c;
    transform: translateY(-2px);
    transition: all 0.2s ease;
}

/* note's problem section */
#notes-problems {
    margin: 0 auto;
}

.notes-problems-tagline {
    margin-top: 50px;
    text-align: center;
}

.notes-problems-heading {
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
    color: #001931;
    margin-bottom: 16px;
}

.notes-problems-card-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 24px;
    margin: 44px 120px;
    flex-wrap: nowrap;
}

.card {
    text-align: center;
    padding: 24px 24px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}

.card img {
    background-color: #F95555;
    border-radius: 50%;
    padding: 10px;
    margin-top: 69px;
    margin-bottom: 16px;
}

.card h3 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}

.card p {
    margin-bottom: 21px;
}

/* structured by design section */
#structured-by-design {
    padding: 120px 120px;
    background-color: #FFFFFF;
}

.structure-content-container {
    display: flex;
    align-items: center;
    gap: 60px;
}

.structure-content-container img {
    border-radius: 12px;
}

.structure-text {
    text-align: left;
}

.structure-text h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #469165;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.structure-text h2 {
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    text-transform: capitalize;
}

.structure-text p {
    max-width: 500px;
    margin: 16px auto 32px;
}

.items {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 16px;
}

/* ready to think */
#cta-section {
    padding: 120px;
    background-color: #FFFFFF;
}

.cta-content {
    padding: 80px 40px;
    border-radius: 12px;
    background-color: #F7F6F2;
    text-align: center;
}

.cta-header {
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}

.cta-text {
    max-width: 600px;
    margin: 16px auto 32px;
}

.early-access-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
}

.cta-bottom-texts {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
}

/* footer */
.footer-content {
    padding: 120px 120px 30px 120px;
    background-color: #001931;
}

.logo-and-socials {
    display: flex;
    justify-content: space-between;
    gap: 790px;
    margin-bottom: 80px;
}

.socials p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
    line-height: 28px;
    margin-bottom: 16px;
}

.social-icons {
    display: flex;
    text-align: center;
    gap: 16px;
}

.icon {
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: 1px;
    color: #000000;
}

.copyright hr {
    width: 1360px;
    border: 1px solid #E5E7EB;
    opacity: 0.2;
    margin: 0 auto;
    margin-bottom: 30px;
}

.copyright p {
    text-align: center;
}